{% extends "base.html.twig" %}

{% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default({"title": "Réinitialiser votre mot de passe"}),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            "defaultLocale": app.request.locale
        } %}
{% endblock %}

{% block content %}

    <div class="password-reinit">
        <div class="password-reinit--background"></div>
        <div class="password-reinit--content">
            <div class="password-reinit--content--container">
            
                {% if app.request.get('send') == 'true' %}
                    <h1 class="password-reinit--content--container--title send">Réinitialisation réussi</h1>
                    <p class="password-reinit--content--container--msg">
                        La réinitialisation a été effectué avec succès
                    </p>
                {% else %}
                    <h1 class="password-reinit--content--container--title">Réinitialiser votre mot de passe</h1>
                    {% form_theme form 'form/theme.html.twig' %}
                    {{ form(form) }}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

{% block style %}
    {{ encore_entry_link_tags('password-reinit') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('password-reinit') }}
{% endblock %}