{% extends 'base.html.twig' %}

{% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default({"title": "Mot de passe oublié"}),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            "defaultLocale": app.request.locale
        } %}
{% endblock %}

{% block content %}
    
    <div class="password-forget">
        <div class="password-forget--background"></div>
        <div class="password-forget--content">
            <div class="password-forget--content--container">
            
                {% if app.request.get('send') == 'true' %}
                    <h1 class="password-forget--content--container--title send">Demande de récupération réussi</h1>
                    <p class="password-forget--content--container--msg">
                        Vous allez recevoir un mail contenant un lien vous permettant de réinitialiser votre mot de passe.
                    </p>
                {% else %}
                    <h1 class="password-forget--content--container--title">Mot de passe oublié</h1>
                    {% form_theme form 'form/theme.html.twig' %}
                    {{ form(form) }}
                {% endif %}

            </div>
        </div>
    </div>


    
{% endblock %}

{% block style %}
    {{ encore_entry_link_tags('password-forget') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('password-forget') }}
{% endblock %}