@use "./../abstracts/" as g;
@use "./../layout/" as layout;
@use "./../mixins/buttons.scss" as button;
@use "./../mixins/elements.scss" as element;
@use './../form/form.scss' as form;

.password-forget
{
    min-height: 100vh;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    @include element.background($image: "password-forget");

    // &--background
    // {
    //     grid-column: 1;
    //     grid-row: 1;

    //     background-size: cover;
    //     background-image: url('./../../images/password-forget.jpg');
    // }

    &--content
    {
        grid-column: 1;
        grid-row: 1;

        background-color: rgba($color: g.$primaryVDark, $alpha: .4);

        display: flex;
        align-items: center;
        justify-content: center;

        &--container
        {
            background: g.$white;

            width: 100%;
            height: calc(100% - (#{g.$headerHeightMobile} + 40px));
            padding: 20px;
            margin-top: g.$headerHeightMobile;

            &--title
            {
                font-family: g.$fontTitle;
                font-size: 40px;
                line-height: 45px;
                font-weight: bold;
                text-align: center;
            }

            form
            {
                [type="submit"]
                {
                    @include button.button-tertiary($height: 60px,$width: 240px,$fontSize: 30px);
                }
            }

            &--msg
            {
                font-family: g.$fontBody;
                font-size: 20px;
                margin: 0;
                margin-bottom: 30px;
            }
        }
    }
}

@media(min-width: g.$breakPointM)
{
    .password-forget
    {
        &--content
        {
            padding: g.$headerHeight 0;

            &--container
            {
                max-width: 600px;
                height: auto;
                margin-top: 0;

                &--title.send
                {
                    text-align: left;
                }
            }
        }
    }
}