$primaryVLight: #86C3C8;
$primaryLight: #519BA2;
$primary: #33848B;
$primaryDark: #1C767E;
$primaryVDark: #0E5C63;

$secondaryVLight: #FFE3A9;
$secondaryLight: #FFD67E;
$secondary: #E4B552;
$secondaryDark: #CF9A2C;
$secondaryVDark: #A27514;

$tertiaryVLight: #FFADA9;
$tertiaryLight: #FF857E;
$tertiary: #E45952;
$tertiaryDark: #CF342C;
$tertiaryVDark: #A21B14;

$white: #FFFF;
$black: #000;

$border-field: #CCCCCC;
$placeholder-field: #BBBBBB;
$checkbox-border: #BBBBBB;
$spaceMember-item: #707070;
$spaceBorder-field: silver;
$shadowColorComment: #000000;
$colorFontCommentDate: #919191;
$moderateComment: #4e4e4e;